.fullCart {
   &__wrapper {
      display: flex;
      margin-top: 100px;
   }
   &__image img {
      margin: 0px 100px 0 180px;
      border-radius: 30px;
      width: 400px;
   }
   &__title {
      font-family: 'Inter';
      font-size: 50px;
      color: $green;
      margin-bottom: 10px;
   }
   &__row {
      margin-bottom: 17px;
   }
   &__place, &__date {
      font-family: 'Inter';
      font-size: 30px;
      color: $green;
      margin-bottom: 0px;
   }
   &__description {
      color: $grey;
      font-family: 'Inter';
      font-size: 20px;
   }
   &__text {
      color: $grey;
      font-family: 'Inter';
      font-size: 20px;
      margin-bottom: 17px;
   }
   &__price {
      font-family: 'Inter';
      font-size: 30px;
      color: $green;
      margin-bottom: 10px;
   }

   &__button {
      display: block;
      height: 30px;
      width: 350px;
      font-size: 25px;
      line-height: 0px;
      font-family: 'Inter';
      background-color: $green;
      color: $dark;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s ease;
      display: absolute;

      & span {
         position: relative;
         top: 14px;
         left: 26px;

      }

      &:hover {
         color: $white;
      }
   }
}