

.bg-popup1 {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.2);
}

.popup1 {
   background: #282c34;
   border-radius: 20px;
   padding: 30px;
}

.account {
   position: relative;
   cursor: pointer;
   &__name {
      color: #5EA93A;
   }
}

.auth-svg {
   font-size: 30px;
   color: #fff;
}

.green-auth-svg {
   color: #5EA93A; 
}

.account__name {
   position: absolute;
   top: 30px;
   left: 50%;
   transform: translate(-50%, 0);
   font-family: "Overpass";
   color: #5EA93A;
}

.account__profile {
   position: absolute;
   opacity: 0;
   background-color: #fff;
   padding: 3px 3px 0px 3px;
   border-radius: 5px;
   top: 50px;
   left: 100%;
   // transform: translate(-50%, 0);
   font-family: "Overpass";
   color: #5EA93A;
   transition: all 0.5s ease-out;
   visibility: hidden;
}

.account__exit {
   position: absolute;
   opacity: 0;
   background-color: #fff;
   padding: 3px 3px 0px 3px;
   border-radius: 5px;
   top: 50px;
   right: 100%;
   // transform: translate(-50%, 0);
   font-family: "Overpass";
   color: #5EA93A;
   transition: all 0.5s ease-out;
   visibility: hidden;
}

.account.active {
   & .account__exit, .account__profile {
      transition: all 0.5s ease-out;
      visibility: visible;
      opacity: 1;
   }
}

/* .password-textfield {
   padding: 50px;
} */

.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

.logo-plus {
   position: relative;
   right: 3px;
}